@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --bg-color: #090a14;       
    --panel-bg: #1a1a2e;       
    --neon-green: #39ff14;     
    --neon-purple: #bc13fe;  
    --neon-blue: #4bacec;  
    --text-color: #e0e0e0;
    --border-style: 8px solid var(--neon-purple);
}

body {
    margin: 0;
    padding: 20px;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Press Start 2P';/*, cursive;*/ 
    height: 100vh;
    box-sizing: border-box;
    /*overflow: hidden;*/
}

#scrolltxt {
    font-family: 'Press Start 2P',cursive;
    color: #39ff14;
    font-size: 30px;
    text-shadow: 0 0 30px var(--neon-green);
    border: 2px solid var(--neon-purple);
    padding: 10px 30px;
    margin-bottom: 40px;
    box-shadow:0 0 30px var(--neon-purple); ;
}

.Grids {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 20px; 
    height: 100%;
    width: 100%;
}

.panel {
    background-color: var(--panel-bg);
    border: var(--border-style);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 30px var(--neon-purple); 
}

.panel-title {
    font-size: 25px;
    color: #bc13fe;
    margin-bottom: 30px;
    text-shadow: 2px 2px #39ff14;
    text-align: center;
}

.lcd-display {
    background-color: #000;
    border: 2px solid var(--neon-purple);
    padding: 20px 40px;
    margin-bottom: 40px;
    text-shadow: 0 0 10px var(--neon-purple);
}

#timerdisplay {
    font-size: 65px;
    color: var(--neon-purple);
    margin: 0;
}

.btn {
    font-family: 'Press Start 2P', cursive;
    background: #000;
    color: var(--text-color);
    border: 2px solid var(--text-color);
    padding: 15px 20px;
    cursor: pointer;
    margin: 5px;
    transition: none; 
}

.btn.start:hover {
    background: var(--neon-green);
    color: #000;
    box-shadow: 0 0 15px var(--neon-green);
}

.btn.pause:hover {
    background: var(--neon-blue);
    color: #000;
    box-shadow: 0 0 15px var(--neon-blue);
}

.btn.reset:hover {
    background: var(--neon-purple);
    color: #000;
    box-shadow: 0 0 15px var(--neon-purple);
}

.sprite-stage {
    flex-grow: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#buddy-sprite {
    width: 100%; 
    max-width: 350px;
    image-rendering: pixelated; 
}

#buddy-status{
    font-size: 20px;
    color: var(--neon-purple);
    margin-top: 20px;
    height: 50px; 
}

.task-panel {
    align-items: stretch; 
}

.task-input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.input {
    flex-grow: 1;
    font-family: 'Press Start 2P', cursive;
    background: #000;
    border: 2px solid var(--neon-green);
    color: var(--neon-purple);
    padding: 10px;
    outline: none;
}

.list {
    list-style: none;
    padding: 0;
    overflow-y: auto; 
}

.list li {
    background: #000;
    border-bottom: 2px dashed var(--neon-green);
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
}

.delbtn {
    background: transparent;
    border: 1px solid red;
    color: red;
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
    padding: 5px 10px;
}

.delbtn:hover { background: red; color: black; }

.addbtn {
    background: transparent;
    border: 1px solid green;
    color: green;
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
    padding: 5px 10px;
}

.addbtn:hover { background: green; color: black; }
 
.Grids::before {
    content: " ";
    display: block;
    position: absolute;
    pointer-events: none; 
    opacity: 0.4;
}

#footer{
    background-color: #000;
    border: 2px solid var(--neon-purple);
    padding: 10px 30px;
    margin-bottom: 40px;
    text-shadow: 0 0 10px var(--neon-green);
    font-family: 'Press Start 2P',cursive;
    box-shadow:0 0 5px var(--neon-purple);
}